@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,300);

/**
	dark-blue: #396f91;
	med-blue: #4385ab;
	light-blue: #4d98c4;
	bright-blue: #57acde;
*/


/*** RESET ***/
* {margin:0;padding:0;border-collapse:collapse;border-spacing:0;border:0;font-style:normal;font-weight:normal;list-style:none;text-align:left;font-size:100%;}

html {
	background: #eee;
	font-family: Raleway;
	font-size: 1em;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

strong {
	font-weight: bold;
}

input, select {
	font-family: Raleway;
	font-size: 1em;
}

header, footer {
	color: #fff;
    width: 100%;
    min-width: 1000px;
	background: #396f91;
}

header ul:first-of-type {
	font-family: Droid Serif;
}

em {
	font-style: italic;
}

em strong, strong em {
	font-style: italic;
	font-weight: bold;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	position: relative;
}

header {
	margin: 0px auto;
	top: 0;
}

nav {
    width: 1000px;
    margin: 0px auto;
}

nav ul li {
    line-height: 3em;
}

nav ul:first-of-type {
	float: left;
}

nav ul:last-of-type {
	float: right;
}

nav ul li {
	float: left;
}

nav ul li a, footer ul li a {
    color: #fff;
    display: block;
    padding: 0px 20px;
}

nav ul li a:hover, footer ul li a:hover {
	background: #4383ab;
    color: #fff;
    text-decoration: none;
}

a {
	text-decoration: none;
	color: #4383ab;
}

a:hover {
    color: #57acde;
    text-decoration: none;
}

footer {
	position: absolute;
	bottom: 0;
	width:100%;
	text-align: right;
    margin: 0px auto 0 auto;
}

footer ul {
	text-align: right;
    width: 1000px;
    margin: 0px auto;
}

footer ul li {
	text-align: right;
    line-height: 3em;
}

footer ul li {
	float:right;
}

section.content {
	margin: 40px auto 0px auto;
	width: 980px;
	line-height: 1.8em;
    padding-bottom: 120px;
}

label {
	display: block;
	margin: 20px 0px -3px 0px;
}

form.login {
	width: 40%;
	margin: 5% auto;
}

form.search {
	width: 559px;
	margin: 5% auto;
}

input:active, input:focus, select:active {
	outline-color: #4d98c4;
	border:1px solid #4d98c4;
	box-shadow: 0 0 3px #4d98c4;
}

input[type="text"], input[type="password"], input[type="email"] {
	border: 1px solid #444;
	font-size: 1.2em;
	padding: 5px;
    width: 400px;
    font-family: Raleway;
}

form.login input[type="text"], form.login input[type="password"] {
    width: 98%;
}

input[type="submit"] {
	float: right;
	border: 1px solid #222;
	border-radius: 3px;
	padding: 10px 30px;
	margin: 20px 0px 0px 0px;
	background: #4385ab;
	color: #fff;
}

input[type="submit"]:hover {
    background: #4d98c4;
}

input[type="submit"].sameline {
    margin: 0px;
}

.sameline {
    float: left;
}

select {
    width: 390px;
	padding: 9px;
	border: 1px solid #444;
	background: #fff;
    margin-right: 2px;
}

select option {
	padding: 10px;
}

h1 {
    font-size: 1.4em;
    font-family: Raleway;
    font-weight: 300;
    color: #000;
    line-height: 1.8em;
}

h2 {
	font-size: 1.2em;
	font-family: 'texgy';
	padding-bottom: 15px;
}

.clear {
	clear: both;
}

a.project {
	display: block;
	color: #000;
	border-top: 1px solid #444;
	padding: 10px;
}

a.project:hover {
	background: #f6f6f6;
}

a.project:last-of-type {
	border-bottom: 1px solid #444;
}

a.project div.information {
	float: left;
	margin-left: 20px;
}

a.project div.name {
	font-size: 1.2em;
}

a.project img {
	float: left;
	width: 175px;
	height: 100px;
}

.projectEnd {
	border-bottom: 1px solid #444;
}
