@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);
/*** RESET ***/
* {margin:0;padding:0;border-collapse:collapse;border-spacing:0;border:0;font-style:normal;font-weight:normal;list-style:none;text-align:left;font-size:100%;}

html {
	background: #eee;
	font-family: PT Sans;
	font-size: 1.3em;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	
background: #cfe7fa; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #cfe7fa 0%, #6393c1 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#cfe7fa), color-stop(100%,#6393c1)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #cfe7fa 0%,#6393c1 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #cfe7fa 0%,#6393c1 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #cfe7fa 0%,#6393c1 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #cfe7fa 0%,#6393c1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

strong {
	font-weight: bold;
}

input, select {
	font-family: PT Sans;
	font-size: 1em;
}

header, footer {
	font-size: 0.9em;
	background-color:rgba(0, 0, 0, 0.3);
	color: #fff;
}

header ul {
	opacity: 1;
}

em {
	font-style: italic;
}

em strong, strong em {
	font-style: italic;
	font-weight: bold;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	position: relative;
}

header {
	margin: 0px auto;
	width: 80%;
	top: 0;
}

nav ul li {
	padding: 15px;
}

nav ul:first-of-type {
	float: left;
}

nav ul:last-of-type {
	float: right;
}

nav ul li {
	float: left;
}

nav ul li a {
	padding: 10px 20px;
	margin: 0px 0px 0px 0px;
}

nav ul li a:hover {
	background: #add138;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

nav ul li ul {

}

nav ul li ul li:last-of-type a:hover {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

nav ul li ul:hover {
	display: block;
	visibility: visible;
	opacity: 1;
}

nav ul li:hover ul, nav ul li:active ul {
	display: block;
	visibility: visible;
	opacity: 1;
}

nav ul li ul li {
	display: block;
	float: none;
}

nav ul li ul li a {
	padding: 3px 20px;
	display: block;
}

nav ul li ul li a:hover {
	border-radius: 0px;
}

a {
	text-decoration: none;
	color: #000;
}

footer {
	position: absolute;
	bottom: 0;
	width: 80%;
	text-align: right;
	left: 10%;
}

footer ul {
	text-align: right;
}

footer ul li {
	text-align: right;
	padding: 15px;
}

footer ul li {
	float:right;
}

section.content {
	margin: 20px auto 0px auto;
	padding: 1%;
	width: 78%;
	line-height: 1.8em;
}

label {
	display: block;
	margin: 20px 0px -3px 0px;
}

form.login {
	width: 40%;
	margin: 5% auto;
}

form.search {
	width: 40%;
	margin: 5% auto;
}

input[type="text"], input[type="password"] {
	border: 1px solid #444;
	font-size: 1.2em;
	padding: 1%;
	width: 98%;
}

input[type="submit"] {
	float: right;
	border: 1px solid #444;
	border-radius: 2px;
	padding: 10px 30px;
	margin: 20px 0px 0px 0px;	
	background: #cfe7fa;
}

select {
	width: 100%;
	padding: 2%;
	border: 1px solid #444;
	background: #ddd;
}

select option {
	padding: 2%;
}

h2 {
	font-size: 1.8em;
	font-family: 'texgy';
	padding-bottom: 15px;
}

.clear {
	clear: both;
}
