<!DOCTYPE html>
<html>
	<head>
		<title>Portfoliosiden</title>
		<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
		
		<script type="text/javascript" src="/js/jquery.js"></script>
		<script type="text/javascript" src="/js/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
		<link rel="stylesheet" href="/js/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
		<script type="text/javascript" src="/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
		<link rel="stylesheet" href="/js/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
		<script type="text/javascript" src="/js/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
		<script type="text/javascript" src="/js/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
		<link rel="stylesheet" href="/js/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
		<script type="text/javascript" src="/js/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
		
		<script type="text/javascript" src="/js/view_project.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<header>
				<nav>
					<ul>
						<li><a href="/">Portfoliosiden</a></li>
						<div class="clear"></div>
					</ul>
					<ul>
						<li><a href="/register">Ny bruger</a></li>
                        <li><a href="/login">Log ind</a></li>
						<div class="clear"></div>
					</ul>
					<div class="clear"></div>
				</nav>
			</header>
			<section class="content">
				{{ content }}
			</section>
			<footer>
				<ul>
					<li><a href="/help">Hjælp</a></li>
					<li><a href="/about">Om Portfoliosiden</a></li>
					<div class="clear"></div>
				</ul>
			</footer>
		</div>
	</body>
</html>
