<!DOCTYPE html>
<html>
	<head>
		<title>Portfolio</title>
		<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
	</head>
	<body>
		<div class="wrapper">
			<header>
				<nav>
					<ul>
						<li><a href="/">Portfoliosiden</a></li>
						<div class="clear"></div>
					</ul>
					<ul>
						<li><a href="/register">Ny bruger</a></li>
                        <li><a href="/login">Log ind</a></li>
						<div class="clear"></div>
					</ul>
					<div class="clear"></div>
				</nav>
			</header>
			<section class="content">
				{{ content }}
			</section>
			<footer>
				<ul>
					<li><a href="/help">Hjælp</a></li>
					<li><a href="/about">Om Portfoliosiden</a></li>
					<div class="clear"></div>
				</ul>
			</footer>
		</div>
	</body>
</html>
