<!DOCTYPE html>
<html>
	<head>
		<title>Portfolio</title>
		<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
	</head>
	<body>
		<div class="wrapper">
			<header>
				<nav>
					<ul>
						<li>Logo</li>
					</ul>
					<ul>
						<li>Bruger</li>
					</ul>
					<div class="clear"></div>
				</nav>
			</header>
			<section class="content">
				{{ content }}
			</section>
			<footer>
				<ul>
					<li>Hjælp</li>
					<li>Om Portfoliosiden</li>
					<div class="clear"></div>
				</ul>
			</footer>
		</div>
	</body>
</html>
